Repository brenobaptista/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --single-quote --write

Bump unified and its plugins
  package.json
  pnpm-lock.yaml
Due: none

Fix error "unrecognized feature"
  next.config.js
Due: none

Remove .editorconfig
  .editorconfig
Due: none

Uninstall eslint-plugin-prettier
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: none

Bump prettier
  package.json
  pnpm-lock.yaml
Due: none

Bump eslint-config-prettier
  package.json
  pnpm-lock.yaml
Due: none

Bump eslint
  .eslintrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

Remove unused .gitignore
  .husky/.gitignore
Due: none

Improve experience section
  src/pages/resume.tsx
  src/styles/pages/Resume.ts
Due: eslint --fix, prettier --single-quote --write

Remove second page of resume
  src/pages/resume.tsx
Due: eslint --fix, prettier --single-quote --write

Add unoptimized property to gifs
  src/components/RetroHomeSection.tsx
Due: eslint --fix, prettier --single-quote --write

Redesign ThemeSwitcher
  src/styles/components/ThemeSwitcher.ts
Due: eslint --fix, prettier --single-quote --write

Replace old favicon with my photo
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-retro.ico
  public/favicon.ico
  public/og-image.png
  public/site.webmanifest
  public/web-app-manifest-192x192.png
  public/web-app-manifest-512x512.png
  src/components/RetroBrowserTab.tsx
  src/pages/_document.tsx
Due: eslint --fix, prettier --single-quote --write

Update description and remove justify
  src/lib/rss.ts
  src/pages/index.tsx
  src/pages/posts/[id].tsx
  src/posts/adding-rss-feed-to-static-next-blog.md
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Remove short bio from end of posts
  src/pages/posts/[id].tsx
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Remove text-align justify
  src/styles/pages/Post.ts
  src/styles/pages/Resume.ts
Due: eslint --fix, prettier --single-quote --write

Remove dashes from text
  src/posts/discussing-audio-gear-remote-work.md
  src/posts/oauth2-refresh-token-grant-in-apollo-client.md
Due: prettier --single-quote --write

Remove EmailObfuscator
  src/pages/index.tsx
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Move Search to right of Blog text
  src/components/Search.tsx
  src/pages/index.tsx
  src/styles/components/Search.ts
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Move social icons below intro
  src/pages/index.tsx
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Add gap to flex wrap
  src/styles/components/Layout.ts
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Rename wrong section to GIFs
  src/components/RetroHomeSection.tsx
  src/styles/components/RetroHomeSection.ts
Due: eslint --fix, prettier --single-quote --write

Increase space on blog card
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Implement Separator component
  src/components/RetroFooter.tsx
  src/components/Separator.tsx
  src/pages/posts/[id].tsx
  src/styles/components/RetroFooter.ts
  src/styles/components/Separator.ts
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Use Separator between HomeHeader and Blog
  src/pages/index.tsx
Due: eslint --fix, prettier --single-quote --write

Remove text-indent
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Remove most letter-spacing
  src/styles/global.ts
  src/styles/retro-global.ts
Due: eslint --fix, prettier --single-quote --write

Move name to home header
  src/components/Layout.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --single-quote --write

Reduce intro text and improve spacing
  src/lib/rss.ts
  src/pages/index.tsx
  src/posts/adding-rss-feed-to-static-next-blog.md
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Remove profile image
  public/images/profile.jpg
  src/pages/index.tsx
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Remove line-height from Home
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Remove some font-size
  src/styles/components/RetroFooter.ts
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Move blog link font-size
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Fix unknown prop error
  src/components/Separator.tsx
  src/styles/components/Separator.ts
Due: eslint --fix, prettier --single-quote --write

Increase global headings font-size
  src/styles/global.ts
Due: eslint --fix, prettier --single-quote --write

Increase Intro heading font-size
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Change blog posts design
  src/pages/index.tsx
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Change "more posts" design
  src/pages/posts/[id].tsx
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Fix BlogHeader alignment
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Fix BlogHeader gap
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --single-quote --write: any of: *.{ts,tsx,md}
