Repository brenobaptista/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --single-quote --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": "eslint --fix",
  "*.{ts,tsx,md}": "prettier --single-quote --write"
}

Updated domain to brenobaptista.me
  src/pages/resume.tsx
  src/posts/understanding-favicons-for-the-modern-web.md
  tests/pages/__snapshots__/resume.test.tsx.snap
Due: eslint --fix, prettier --single-quote --write

Added rehype-raw to support HTML inside markdown
  package.json
  src/lib/posts.ts
  yarn.lock
Due: eslint --fix, prettier --single-quote --write

Added nice resizing snippet to ImageMagick post
  src/posts/editing-images-from-terminal-with-imagemagick.md
Due: prettier --single-quote --write

Created post about my trip to Florianópolis
  public/images/trip-florianopolis-winter-2022/airbnb.jpg
  public/images/trip-florianopolis-winter-2022/airport.jpg
  public/images/trip-florianopolis-winter-2022/barra-lagoa.jpg
  public/images/trip-florianopolis-winter-2022/cannons.jpg
  public/images/trip-florianopolis-winter-2022/downtown-park.jpg
  public/images/trip-florianopolis-winter-2022/downtown-shore.jpg
  public/images/trip-florianopolis-winter-2022/downtown-tree.jpg
  public/images/trip-florianopolis-winter-2022/fishermen.jpg
  public/images/trip-florianopolis-winter-2022/fort.jpg
  public/images/trip-florianopolis-winter-2022/gravata-trail.jpg
  public/images/trip-florianopolis-winter-2022/gravata-trail2.jpg
  public/images/trip-florianopolis-winter-2022/horses.jpg
  public/images/trip-florianopolis-winter-2022/joaquina-dunes.jpg
  public/images/trip-florianopolis-winter-2022/jurere-international.jpg
  public/images/trip-florianopolis-winter-2022/lagoa-lookout.jpg
  public/images/trip-florianopolis-winter-2022/office.jpg
  public/images/trip-florianopolis-winter-2022/oysters.jpg
  public/images/trip-florianopolis-winter-2022/seafood.jpg
  public/images/trip-florianopolis-winter-2022/sunset.jpg
  src/posts/trip-florianopolis-winter-2022.md
Due: prettier --single-quote --write

Updated post about Zsh
  src/posts/customizing-terminal-with-zsh.md
Due: prettier --single-quote --write

Updated resume
  src/pages/resume.tsx
Due: eslint --fix, prettier --single-quote --write

Update snapshot
  tests/pages/__snapshots__/resume.test.tsx.snap
Due: none

Ask to print the resume page automatically
  src/pages/resume.tsx
Due: eslint --fix, prettier --single-quote --write

Remove child wrapped around <a> for next/link
  src/components/Layout.tsx
Due: eslint --fix, prettier --single-quote --write

Improve Sparkles component
  src/components/Sparkles.tsx
Due: eslint --fix, prettier --single-quote --write

Update resume
  src/pages/resume.tsx
  tests/pages/__snapshots__/resume.test.tsx.snap
Due: eslint --fix, prettier --single-quote --write

Update website description
  src/lib/rss.ts
  src/pages/index.tsx
  src/pages/posts/[id].tsx
  src/posts/adding-rss-feed-to-static-next-blog.md
Due: eslint --fix, prettier --single-quote --write

Add LinkedIn icon
  src/components/svgs/LinkedIn.tsx
  src/components/svgs/index.tsx
Due: eslint --fix, prettier --single-quote --write

Update resume
  src/pages/resume.tsx
  src/styles/pages/Resume.ts
  tests/pages/__snapshots__/resume.test.tsx.snap
Due: eslint --fix, prettier --single-quote --write

Upgrade to Next.js 13
  package.json
  src/pages/index.tsx
  src/pages/posts/[id].tsx
  src/styles/pages/Post.ts
  yarn.lock
Due: eslint --fix, prettier --single-quote --write

Upgrade RTL and update snapshots
  package.json
  tests/components/__snapshots__/layout.test.tsx.snap
  tests/components/__snapshots__/retro.test.tsx.snap
  tests/pages/__snapshots__/404.test.tsx.snap
  yarn.lock
Due: none

Remove console error in dev by enabling styledComponents for SWC
  next.config.js
Due: none

Use font-display as swap to improve Lighthouse score
  src/styles/global.ts
Due: eslint --fix, prettier --single-quote --write

Add sheeps to bottom of screen in retro mode
  public/images/retro/sheep.gif
  src/components/Retro.tsx
  src/styles/components/Retro.ts
Due: eslint --fix, prettier --single-quote --write

Upgrade preact
  package.json
  yarn.lock
Due: none

Upgrade RTL dependency and update snapshot
  package.json
  tests/components/__snapshots__/retro.test.tsx.snap
  yarn.lock
Due: none

Remove preact to fix bug in production
  next.config.js
  package.json
  yarn.lock
Due: none

Upgrade all dependencies
  package.json
  yarn.lock
Due: none

Fix yarn.lock
  yarn.lock
Due: none

Add NextConfig type o next.config.js
  next.config.js
Due: none

Replace print with window.print
  src/pages/resume.tsx
Due: eslint --fix, prettier --single-quote --write

Use @next/font
  package.json
  public/fonts/inter-var-latin.woff2
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/styles/global.ts
  vercel.json
  yarn.lock
Due: eslint --fix, prettier --single-quote --write

Remove unused font family names
  src/styles/components/Layout.ts
  src/styles/global.ts
  src/styles/pages/Post.ts
  tests/components/__snapshots__/layout.test.tsx.snap
  tests/pages/__snapshots__/404.test.tsx.snap
Due: eslint --fix, prettier --single-quote --write

General improvements to previous posts
  src/posts/adding-rss-feed-to-static-next-blog.md
  src/posts/best-development-tools-javascript-projects.md
  src/posts/creating-virtual-machines-using-qemu-kvm.md
  src/posts/customizing-terminal-with-zsh.md
  src/posts/editing-images-from-terminal-with-imagemagick.md
  src/posts/passing-data-through-react-context-api.md
  src/posts/reusing-entities-with-css-variables.md
  src/posts/shell-scripting-using-sed.md
  src/posts/structuring-go-project.md
  src/posts/working-with-svgs-in-react-using-svgr.md
Due: prettier --single-quote --write

New post about detecting if a color is light or dark
  public/images/detecting-if-color-is-light-or-dark/comparison.png
  src/posts/detecting-if-color-is-light-or-dark.md
Due: prettier --single-quote --write

Update snapshot
  tests/components/__snapshots__/layout.test.tsx.snap
Due: none

Improve latest post
  src/posts/detecting-if-color-is-light-or-dark.md
Due: prettier --single-quote --write

Fix Prettier messing with markdown
  .lintstagedrc.js
  src/posts/detecting-if-color-is-light-or-dark.md
Due: prettier --single-quote --write

Remove unused options from vercel.json
  vercel.json
Due: none

Add type checking to pre-push hook
  .gitignore
  .husky/pre-push
  package.json
Due: none

Add Absolute Imports and Module path aliases
  jest.config.js
  src/components/Date.tsx
  src/components/Footer.tsx
  src/components/Layout.tsx
  src/components/Retro.tsx
  src/components/Search.tsx
  src/components/Sparkles.tsx
  src/components/Switch.tsx
  src/components/Theme.tsx
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/posts/[id].tsx
  src/pages/resume.tsx
  testUtils.tsx
  tests/components/date.test.tsx
  tests/components/layout.test.tsx
  tests/components/retro.test.tsx
  tests/components/svgs/email.test.tsx
  tests/components/svgs/github.test.tsx
  tests/components/svgs/magnifier.test.tsx
  tests/components/svgs/portrait.test.tsx
  tests/components/svgs/rss.test.tsx
  tests/components/switch.test.tsx
  tests/pages/404.test.tsx
  tests/pages/resume.test.tsx
  tsconfig.json
Due: eslint --fix, prettier --single-quote --write

Remove window.print from resume
  src/pages/resume.tsx
Due: eslint --fix, prettier --single-quote --write
