Repository brenobaptista/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --single-quote --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": "eslint --fix",
  "*.{ts,tsx,md}": "prettier --single-quote --write"
}

Added aria-label to Switch
  src/components/Switch.tsx
Due: eslint --fix, prettier --single-quote --write

Removed aria-hidden from visible SVGs
  src/components/Search.tsx
  src/components/svgs/Magnifier.tsx
  src/components/svgs/Portrait.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --single-quote --write

Added aria-hidden to search icon
  src/components/svgs/Magnifier.tsx
Due: eslint --fix, prettier --single-quote --write

Fixed SVG accessibility
  src/components/svgs/Email.tsx
  src/components/svgs/GitHub.tsx
  src/components/svgs/RSS.tsx
Due: eslint --fix, prettier --single-quote --write

Updated svg snapshots
  __tests__/__snapshots__/email.tsx.snap
  __tests__/__snapshots__/github.tsx.snap
  __tests__/__snapshots__/magnifier.tsx.snap
  __tests__/__snapshots__/profile.tsx.snap
  __tests__/__snapshots__/rss.tsx.snap
Due: none

Deleted Donations page and LinkedIn link
  __tests__/__snapshots__/layout.tsx.snap
  public/images/monero-address.png
  src/components/Footer.tsx
  src/pages/donations.tsx
  src/styles/pages/Donations.ts
Due: eslint --fix, prettier --single-quote --write

Updated social icons
  src/components/svgs/Email.tsx
  src/components/svgs/GitHub.tsx
  src/components/svgs/RSS.tsx
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Moved social icons order
  src/components/Footer.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --single-quote --write

Updated snapshots
  __tests__/__snapshots__/email.tsx.snap
  __tests__/__snapshots__/github.tsx.snap
  __tests__/__snapshots__/layout.tsx.snap
  __tests__/__snapshots__/rss.tsx.snap
Due: none

Exported all icons using index.js
  src/components/Search.tsx
  src/components/svgs/index.tsx
  src/pages/index.tsx
  src/pages/posts/[id].tsx
Due: eslint --fix, prettier --single-quote --write

Separated retro global styles
  src/components/Layout.tsx
  src/styles/global.ts
  src/styles/retro-global.ts
Due: eslint --fix, prettier --single-quote --write

Removed sparkles on unmount
  src/components/Sparkles.tsx
Due: eslint --fix, prettier --single-quote --write

Refactored resume using web technologies
  src/pages/resume.tsx
  src/styles/pages/Resume.ts
  vercel.json
Due: eslint --fix, prettier --single-quote --write

Added junior to current position
  src/pages/resume.tsx
Due: eslint --fix, prettier --single-quote --write

Updated intro in home and resume
  src/pages/index.tsx
  src/pages/resume.tsx
Due: eslint --fix, prettier --single-quote --write

Added blog post about accessible svgs
  public/images/marking-up-accessible-svgs/decorative-svg.jpg
  public/images/marking-up-accessible-svgs/informational-svg.jpg
  src/posts/marking-up-accessible-svgs.md
Due: prettier --single-quote --write

Upgraded Next.js and removed babel-plugin-styled-components
  .babelrc
  next-env.d.ts
  package.json
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --single-quote --write

Removed babel-jest and updated jest configs
  __mocks__/fileMock.ts
  jest.config.js
  jest.config.ts
  jest.setup.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --single-quote --write

Added tests for Retro component
  __tests__/__snapshots__/retro.tsx.snap
  __tests__/retro.tsx
Due: eslint --fix, prettier --single-quote --write

Removed coverage for some patterns
  jest.config.js
Due: none

Added tests for 404 and resume pages
  __tests__/404.tsx
  __tests__/__snapshots__/404.tsx.snap
  __tests__/__snapshots__/resume.tsx.snap
  __tests__/resume.tsx
Due: eslint --fix, prettier --single-quote --write

Renamed __tests__ to tests and added folder structure
  tests/components/__snapshots__/date.test.tsx.snap
  tests/components/__snapshots__/layout.test.tsx.snap
  tests/components/__snapshots__/retro.test.tsx.snap
  tests/components/date.test.tsx
  tests/components/layout.test.tsx
  tests/components/retro.test.tsx
  tests/components/svgs/__snapshots__/email.test.tsx.snap
  tests/components/svgs/__snapshots__/github.test.tsx.snap
  tests/components/svgs/__snapshots__/magnifier.test.tsx.snap
  tests/components/svgs/__snapshots__/portrait.test.tsx.snap
  tests/components/svgs/__snapshots__/rss.test.tsx.snap
  tests/components/svgs/email.test.tsx
  tests/components/svgs/github.test.tsx
  tests/components/svgs/magnifier.test.tsx
  tests/components/svgs/portrait.test.tsx
  tests/components/svgs/rss.test.tsx
  tests/components/switch.test.tsx
  tests/pages/404.test.tsx
  tests/pages/__snapshots__/404.test.tsx.snap
  tests/pages/__snapshots__/resume.test.tsx.snap
  tests/pages/resume.test.tsx
Due: eslint --fix, prettier --single-quote --write

Updated Preact to 10.6.6
  next.config.js
  package.json
  yarn.lock
Due: none

Updated ESLint instructions
  src/posts/best-development-tools-javascript-projects.md
Due: prettier --single-quote --write

Disabled ESLint warning for Sparkles
  src/components/Sparkles.tsx
Due: eslint --fix, prettier --single-quote --write

Used next/image instead of img tag
  src/components/Footer.tsx
  src/components/Retro.tsx
  src/pages/404.tsx
Due: eslint --fix, prettier --single-quote --write

Let Next.js handle ESLint
  .eslintignore
  .eslintrc.json
  .lintstagedrc.js
  .lintstagedrc.json
  package.json
  yarn.lock
Due: none

Removed blur from loading image
  src/pages/404.tsx
Due: eslint --fix, prettier --single-quote --write

Updated Next.js to canary to fix mock image path in next/image
  package.json
  yarn.lock
Due: none

Updated snapshots (using next/image instead of img tag)
  tests/components/__snapshots__/layout.test.tsx.snap
  tests/components/__snapshots__/retro.test.tsx.snap
  tests/pages/__snapshots__/404.test.tsx.snap
Due: none

Remove unused devDependency ts-node
  package.json
  yarn.lock
Due: none

Updated resume
  src/pages/resume.tsx
  src/styles/pages/Resume.ts
  tests/pages/__snapshots__/resume.test.tsx.snap
Due: eslint --fix, prettier --single-quote --write

Updated RSS generation like the sitemap generation
  src/lib/rss.ts
  src/posts/adding-rss-feed-to-static-next-blog.md
Due: eslint --fix, prettier --single-quote --write

Refactored sitemap generation
  package.json
  src/lib/sitemap.ts
  src/pages/index.tsx
  src/posts/generating-sitemap-robots-in-next.md
  yarn.lock
Due: eslint --fix, prettier --single-quote --write

Updated devDependencies (same as my other websites)
  package.json
  yarn.lock
Due: none

Updated the rest of the dependencies except remark
  package.json
  yarn.lock
Due: none

Updated remark to v14
  package.json
  src/lib/posts.ts
  yarn.lock
Due: eslint --fix, prettier --single-quote --write

Used unified and rehype plugins instead of remark
  package.json
  src/lib/posts.ts
  yarn.lock
Due: eslint --fix, prettier --single-quote --write

Fixed selection color
  src/styles/global.ts
Due: eslint --fix, prettier --single-quote --write

Added question by Emma Mesber to FAQ
  src/posts/understanding-favicons-for-the-modern-web.md
Due: prettier --single-quote --write
