Repository brenobaptista/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --single-quote --write

Tweaked blog posts
  src/posts/how-to-setup-a-terminal-using-zsh.md
  src/styles/components/Layout.ts
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Added tests for Switch, Email and GitHub
  __tests__/__snapshots__/email.tsx.snap
  __tests__/__snapshots__/github.tsx.snap
  __tests__/__snapshots__/switch.tsx.snap
  __tests__/email.tsx
  __tests__/github.tsx
  __tests__/switch.tsx
  src/components/Switch.tsx
Due: eslint --fix, prettier --single-quote --write

Split specific components from Layout to pages
  src/components/Layout.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/posts/[id].tsx
Due: eslint --fix, prettier --single-quote --write

Fixed styles imports
  src/components/Layout.tsx
  src/pages/index.tsx
  src/pages/posts/[id].tsx
  src/styles/components/Layout.ts
  src/styles/pages/Home.ts
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Added _app, _document and global to coveragePathIgnorePatterns
  jest.config.ts
Due: eslint --fix, prettier --single-quote --write

Added tests for Layout
  __tests__/__snapshots__/layout.tsx.snap
  __tests__/layout.tsx
Due: eslint --fix, prettier --single-quote --write

Updated project name to Effigy
  README.md
  package.json
Due: prettier --single-quote --write

Change SVG post date
  src/posts/the-best-way-to-work-with-svgs-in-react.md
Due: prettier --single-quote --write

Added bash as language for prismjs
  .babelrc
Due: none

Added basic version of post about ImageMagick
  public/blog/working-with-images-from-terminal-using-imagemagick/dog-purple-trimmed.jpg
  public/blog/working-with-images-from-terminal-using-imagemagick/dog-purple.jpg
  public/blog/working-with-images-from-terminal-using-imagemagick/dog-transparent.png
  public/blog/working-with-images-from-terminal-using-imagemagick/dog-wrong.png
  public/blog/working-with-images-from-terminal-using-imagemagick/dog.jpg
  public/blog/working-with-images-from-terminal-using-imagemagick/imagemagick.jpg
  src/posts/working-with-images-from-terminal-using-imagemagick.md
Due: prettier --single-quote --write

Removed old Prism.js related code
  .babelrc
  package.json
  src/pages/posts/[id].tsx
  src/styles/pages/Post.ts
  yarn.lock
Due: eslint --fix, prettier --single-quote --write

Installed remark-prism
  package.json
  yarn.lock
Due: none

Added remark-prism to project
  src/utils/posts.ts
Due: eslint --fix, prettier --single-quote --write

Added styles for Tomorrow theme
  src/styles/global.ts
Due: eslint --fix, prettier --single-quote --write

Added bash language to post
  src/posts/how-to-setup-a-terminal-using-zsh.md
Due: prettier --single-quote --write

Moved Tomorrow theme styles from global to post
  src/styles/global.ts
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Fixed syntax highlighting for light mode
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Fix image position
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Refactored ImageMagick post
  public/blog/working-with-images-from-terminal-using-imagemagick/purple-dog.jpg
  public/blog/working-with-images-from-terminal-using-imagemagick/transparent-dog.png
  public/blog/working-with-images-from-terminal-using-imagemagick/trimmed-dog.jpg
  public/blog/working-with-images-from-terminal-using-imagemagick/wrong-dog.png
  src/posts/working-with-images-from-terminal-using-imagemagick.md
Due: prettier --single-quote --write

Added more posts to end of post and moved back to home at the top
  src/pages/posts/[id].tsx
  src/styles/pages/Post.ts
  src/utils/posts.ts
Due: eslint --fix, prettier --single-quote --write

Added space between const and return
  src/pages/_document.tsx
  src/pages/index.tsx
  src/pages/posts/[id].tsx
Due: eslint --fix, prettier --single-quote --write

Transform functions into const with anonymous functions
  src/utils/posts.ts
Due: eslint --fix, prettier --single-quote --write

Fixed accessibility for Prism.js theme
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Update working-with-images-from-terminal-using-imagemagick.md
  src/posts/working-with-images-from-terminal-using-imagemagick.md
Due: prettier --single-quote --write

Update the-best-way-to-work-with-svgs-in-react.md
  src/posts/the-best-way-to-work-with-svgs-in-react.md
Due: prettier --single-quote --write

Edited post names and descriptions
  src/posts/editing-images-from-terminal-with-imagemagick.md
  src/posts/how-to-setup-a-terminal-using-zsh.md
  src/posts/the-best-way-to-work-with-svgs-in-react.md
Due: prettier --single-quote --write

Updated texts
  src/pages/index.tsx
  src/pages/posts/[id].tsx
Due: eslint --fix, prettier --single-quote --write

Added line-numbers and command-line plugins to Prism
  src/posts/editing-images-from-terminal-with-imagemagick.md
  src/posts/how-to-setup-a-terminal-using-zsh.md
  src/posts/the-best-way-to-work-with-svgs-in-react.md
  src/styles/pages/Post.ts
  src/utils/posts.ts
Due: eslint --fix, prettier --single-quote --write

Renamed image folder
  public/blog/editing-images-from-terminal-with-imagemagick/dog.jpg
  public/blog/editing-images-from-terminal-with-imagemagick/imagemagick.jpg
  public/blog/editing-images-from-terminal-with-imagemagick/purple-dog.jpg
  public/blog/editing-images-from-terminal-with-imagemagick/transparent-dog.png
  public/blog/editing-images-from-terminal-with-imagemagick/trimmed-dog.jpg
  public/blog/editing-images-from-terminal-with-imagemagick/wrong-dog.png
Due: none

Separated contexts, hooks and lib into their own folders
  __tests__/layout.tsx
  src/components/Layout.tsx
  src/contexts/ThemeContext.tsx
  src/hooks/usePersistedState.ts
  src/lib/posts.ts
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/posts/[id].tsx
Due: eslint --fix, prettier --single-quote --write

Removed theme logic from _app
  src/components/Theme.tsx
  src/pages/_app.tsx
Due: eslint --fix, prettier --single-quote --write

Renaming a couple of posts
  public/blog/customizing-terminal-with-zsh/terminal.png
  src/posts/customizing-terminal-with-zsh.md
  src/posts/working-with-svgs-in-react-using-svgr.md
Due: prettier --single-quote --write

Added post about virtual machines with QEMU
  public/blog/creating-virtual-machines-using-qemu-kvm/kali-live.jpg
  public/blog/creating-virtual-machines-using-qemu-kvm/kali.jpg
  public/blog/creating-virtual-machines-using-qemu-kvm/mac.jpg
  src/posts/creating-virtual-machines-using-qemu-kvm.md
Due: prettier --single-quote --write

Generate sitemap automatically in production
  package.json
  src/lib/sitemap.ts
  src/pages/index.tsx
  yarn.lock
Due: eslint --fix, prettier --single-quote --write

Added robots.txt
  public/robots.txt
Due: none

Renamed effigy to blog
  README.md
  package.json
Due: prettier --single-quote --write

Updated ESLint rules
  .eslintrc.json
Due: none

Updated TypeScript interfaces
  src/lib/posts.ts
  src/pages/index.tsx
  src/pages/posts/[id].tsx
Due: eslint --fix, prettier --single-quote --write

Added globby to dependencies
  package.json
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --single-quote --write: any of: *.{ts,tsx,md}
