Repository brenobaptista/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --single-quote --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": "eslint --fix",
  "*.{ts,tsx,md}": "prettier --single-quote --write"
}

Fix tsconfig errors
  tsconfig.json
Due: none

Install @eslint/eslintrc for Next 15
  package.json
  pnpm-lock.yaml
Due: none

Add @/public as path
  src/components/RetroFooter.tsx
  src/components/RetroHomeSection.tsx
  src/pages/404.tsx
  tsconfig.json
Due: eslint --fix, prettier --single-quote --write

Fix lint-staged silently dropping ESLint due to duplicate key
  .lintstagedrc.js
Due: none

Move sparkle cleanup to effect cleanup function
  src/components/RetroCursorEffect.tsx
Due: eslint --fix, prettier --single-quote --write

Remove resume
  src/components/Icons/Email.tsx
  src/components/Icons/index.tsx
  src/pages/resume.tsx
  src/styles/pages/Resume.ts
Due: eslint --fix, prettier --single-quote --write

Block pnpm build scripts
  pnpm-workspace.yaml
Due: none

Revert "Block pnpm build scripts"
  pnpm-workspace.yaml
Due: none

Validate post about sending patch to Linux
  src/posts/upstreaming-linux-kernel-patch-fix-headset-mic.md
Due: prettier --single-quote --write

Add post about remapping buttons with Solaar
  public/images/remapping-logitech-mouse-buttons-solaar/divert.png
  public/images/remapping-logitech-mouse-buttons-solaar/kde-mouse.png
  public/images/remapping-logitech-mouse-buttons-solaar/rule-editor.png
  src/posts/remapping-logitech-mouse-buttons-solaar.md
Due: prettier --single-quote --write

Remove mentions of Ubuntu from the latest post
  src/posts/remapping-logitech-mouse-buttons-solaar.md
Due: prettier --single-quote --write
