Repository brenobaptista/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --single-quote --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": "eslint --fix",
  "*.{ts,tsx,md}": "prettier --single-quote --write"
}

Improve images for Pop Shell post
  public/images/improving-pop-shell-workspaces/desktop.jpg
  public/images/improving-pop-shell-workspaces/pop-shell.jpg
Due: none

Convert png to jpg in Pop!_OS colors post
  public/images/improving-pop-os-22-04-color-consistency/browsers.jpg
  public/images/improving-pop-os-22-04-color-consistency/browsers.png
  public/images/improving-pop-os-22-04-color-consistency/pop-os.jpg
  public/images/improving-pop-os-22-04-color-consistency/pop-os.png
  src/posts/improving-pop-os-22-04-color-consistency.md
Due: prettier --single-quote --write

Add post about tips for Lenovo laptops on Linux
  src/posts/tips-lenovo-laptops-linux.md
Due: prettier --single-quote --write

Improved post about blurry images
  src/posts/fixing-blurry-images-next.md
Due: prettier --single-quote --write

Remove post about Pop!_OS colors
  public/images/improving-pop-os-22-04-color-consistency/browsers.jpg
  public/images/improving-pop-os-22-04-color-consistency/pop-os.jpg
  src/posts/improving-pop-os-22-04-color-consistency.md
Due: prettier --single-quote --write

Remove deprecated header
  next.config.js
Due: none

Update recommended extensions for Pop Shell
  src/posts/improving-pop-shell-workspaces.md
Due: prettier --single-quote --write

Improve post about virtual machines
  src/posts/creating-virtual-machines-using-qemu-kvm.md
Due: prettier --single-quote --write

Update images and improve post about VMs
  public/images/creating-virtual-machines-using-qemu-kvm/kali-live.jpg
  public/images/creating-virtual-machines-using-qemu-kvm/kali.jpg
  public/images/creating-virtual-machines-using-qemu-kvm/linux-live.jpg
  public/images/creating-virtual-machines-using-qemu-kvm/linux.jpg
  public/images/creating-virtual-machines-using-qemu-kvm/mac.jpg
  src/posts/creating-virtual-machines-using-qemu-kvm.md
Due: prettier --single-quote --write

Use simple x on screen resolutions
  src/posts/fixing-blurry-images-next.md
Due: prettier --single-quote --write

Created scripts for managing virtual machines and remastered post
  src/posts/creating-virtual-machines-using-qemu-kvm.md
Due: prettier --single-quote --write

Update post about frozen gui, including images
  public/images/rescuing-unresponsive-gui-on-linux/htop.png
  public/images/rescuing-unresponsive-gui-on-linux/tty4.png
  public/images/rescuing-unresponsive-gui-on-linux/unfreeze.png
  src/posts/rescuing-unresponsive-gui-on-linux.md
  tests/components/__snapshots__/Layout.test.tsx.snap
Due: prettier --single-quote --write

Add packageManager for Corepack
  package.json
Due: none

Remove extra step for battery charging post
  src/posts/battery-charging-threshold-acer-linux.md
Due: prettier --single-quote --write

Update QEMU scripts
  src/posts/creating-virtual-machines-using-qemu-kvm.md
Due: prettier --single-quote --write

Add blog post about appimaged
  src/posts/integrating-appimages-with-appimaged.md
Due: prettier --single-quote --write

Update resume
  src/pages/resume.tsx
  tests/pages/__snapshots__/resume.test.tsx.snap
Due: eslint --fix, prettier --single-quote --write

Update README
  src/pages/resume.tsx
  tests/pages/__snapshots__/resume.test.tsx.snap
Due: eslint --fix, prettier --single-quote --write

Add qemu-install script to blog post
  src/posts/creating-virtual-machines-using-qemu-kvm.md
Due: prettier --single-quote --write

Add blog post about Logitech bluetooth
  src/posts/recommended-logitech-bluetooth-setup-linux.md
Due: prettier --single-quote --write

Implement dynamic title on retro mode
  jest.config.js
  src/components/Layout.tsx
  src/components/Tab.tsx
Due: eslint --fix, prettier --single-quote --write

Use different favicon on retro mode
  public/favicon-retro.ico
  src/components/Tab.tsx
  src/pages/_document.tsx
Due: eslint --fix, prettier --single-quote --write

Improve retro components
  jest.config.js
  src/components/Footer.tsx
  src/components/Layout.tsx
  src/components/RetroBrowserTab.tsx
  src/components/RetroCursorEffect.tsx
  src/components/RetroFooter.tsx
  src/components/RetroHomeSection.tsx
  src/pages/index.tsx
  src/styles/components/Footer.ts
  src/styles/components/RetroFooter.ts
  src/styles/components/RetroHomeSection.ts
  tests/components/RetroHomeSection.test.tsx
  tests/components/__snapshots__/Layout.test.tsx.snap
  tests/components/__snapshots__/RetroHomeSection.test.tsx.snap
Due: eslint --fix, prettier --single-quote --write

Publish blog post about audio gear
  src/posts/discussing-audio-gear-remote-work.md
Due: prettier --single-quote --write

Update experience
  src/pages/resume.tsx
  tests/pages/__snapshots__/resume.test.tsx.snap
Due: eslint --fix, prettier --single-quote --write

Add LinkedIn to social profile list
  src/components/Footer.tsx
  src/pages/index.tsx
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Remove resume from footer and sitemap
  src/components/Footer.tsx
  src/lib/sitemap.ts
  src/posts/generating-sitemap-robots-in-next.md
Due: eslint --fix, prettier --single-quote --write

Remove Footer, only use RetroFooter
  src/components/Footer.tsx
  src/components/Layout.tsx
  src/components/RetroFooter.tsx
  src/styles/components/Footer.ts
  src/styles/components/RetroFooter.ts
Due: eslint --fix, prettier --single-quote --write

Update snapshots
  tests/components/__snapshots__/Layout.test.tsx.snap
  tests/pages/__snapshots__/404.test.tsx.snap
Due: none

Fix missing import
  src/pages/index.tsx
Due: eslint --fix, prettier --single-quote --write

Use email obfuscator to prevent spam
  src/pages/index.tsx
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Remove all tests
  .husky/pre-push
  README.md
  jest.config.js
  jest.setup.js
  package.json
  pnpm-lock.yaml
  src/components/ThemeSwitcher.tsx
  testUtils.tsx
  tests/components/Date.test.tsx
  tests/components/Layout.test.tsx
  tests/components/RetroHomeSection.test.tsx
  tests/components/ThemeSwitcher.test.tsx
  tests/components/__snapshots__/Date.test.tsx.snap
  tests/components/__snapshots__/Layout.test.tsx.snap
  tests/components/__snapshots__/RetroHomeSection.test.tsx.snap
  tests/components/icons/Email.test.tsx
  tests/components/icons/Github.test.tsx
  tests/components/icons/LinkedIn.test.tsx
  tests/components/icons/Magnifier.test.tsx
  tests/components/icons/RSS.test.tsx
  tests/components/icons/__snapshots__/Email.test.tsx.snap
  tests/components/icons/__snapshots__/Github.test.tsx.snap
  tests/components/icons/__snapshots__/LinkedIn.test.tsx.snap
  tests/components/icons/__snapshots__/Magnifier.test.tsx.snap
  tests/components/icons/__snapshots__/RSS.test.tsx.snap
  tests/pages/404.test.tsx
  tests/pages/__snapshots__/404.test.tsx.snap
  tests/pages/__snapshots__/resume.test.tsx.snap
  tests/pages/resume.test.tsx
Due: eslint --fix, prettier --single-quote --write

Rename Icons and remove from paths
  src/components/Icons/Email.tsx
  src/components/Icons/GitHub.tsx
  src/components/Icons/LinkedIn.tsx
  src/components/Icons/Magnifier.tsx
  src/components/Icons/RSS.tsx
  src/components/Icons/index.tsx
  src/components/Icons/types.ts
  src/components/Search.tsx
  src/pages/index.tsx
  src/pages/resume.tsx
  tsconfig.json
Due: eslint --fix, prettier --single-quote --write

Simplify importing themes
  src/components/ThemeProvider.tsx
  src/contexts/ThemeContext.tsx
  src/styles/styled.d.ts
  src/styles/themes.tsx
  src/styles/themes/dracula.ts
  src/styles/themes/retro.ts
Due: eslint --fix, prettier --single-quote --write

Bump styled-components
  package.json
  pnpm-lock.yaml
  src/components/ThemeSwitcher.tsx
  src/styles/components/ThemeSwitcher.ts
Due: eslint --fix, prettier --single-quote --write

Bump husky and lint-staged
  .husky/pre-commit
  .husky/pre-push
  package.json
  pnpm-lock.yaml
Due: none

Bump date-fns and typescript
  package.json
  pnpm-lock.yaml
Due: none

Bump next and react
  next-env.d.ts
  next.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --single-quote --write

Bump @types/node and some eslint
  package.json
  pnpm-lock.yaml
Due: none
