Repository brenobaptista/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --single-quote --write

Fixed rule conflict between ESLint and Prettier
  .eslintrc.json
Due: none

Installed styled-components
  package.json
  yarn.lock
Due: none

Setup styled-components
  babel.config.js
  src/pages/_document.tsx
Due: eslint --fix, prettier --single-quote --write

Added ThemeProvider and GlobalStyle
  .eslintrc.json
  src/pages/_app.tsx
  src/styles/global.ts
  src/styles/globals.css
  src/styles/styled.d.ts
  src/styles/theme.ts
Due: eslint --fix, prettier --single-quote --write

Added render method to Document
  src/pages/_document.tsx
Due: eslint --fix, prettier --single-quote --write

Converted Layout to styled-components
  src/components/Layout.tsx
  src/styles/Layout.module.css
  src/styles/components/Layout.ts
Due: eslint --fix, prettier --single-quote --write

Removed unused stylesheet
  src/styles/Home.module.css
Due: prettier --single-quote --write

Converted CSS to styled-components
  src/pages/index.tsx
  src/pages/posts/[id].tsx
  src/styles/Utils.module.css
  src/styles/components/Layout.ts
  src/styles/global.ts
  src/styles/pages/Article.ts
  src/styles/pages/Home.ts
  src/styles/theme.ts
Due: eslint --fix, prettier --single-quote --write

Converted .js config files
  .babelrc
  .prettierrc.json
  babel.config.js
  prettier.config.js
Due: none

Installed Jest and React Testing Library
  package.json
  yarn.lock
Due: none

Setup Jest
  jest.config.js
  jest.setup.js
Due: none

Updated test scripts
  package.json
Due: none

Removed CSS from lint-staged
  .lintstagedrc.json
Due: none

Formatted config files
  .eslintrc.json
  tsconfig.json
Due: none

Added Date styled-component
  src/components/Date.tsx
  src/styles/components/Date.ts
  src/styles/pages/Article.ts
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Converted Jest files to TypeScript
  .eslintrc.json
  jest.config.js
  jest.config.ts
  jest.setup.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --single-quote --write

Added fileMock
  __mocks__/fileMock.ts
  jest.config.ts
Due: eslint --fix, prettier --single-quote --write

Setup coverage report
  jest.config.ts
Due: eslint --fix, prettier --single-quote --write

Added testUtils
  testUtils.tsx
Due: eslint --fix, prettier --single-quote --write

Tested Date
  __tests__/__snapshots__/date.tsx.snap
  __tests__/date.tsx
Due: eslint --fix, prettier --single-quote --write

Changed color palette
  src/styles/global.ts
  src/styles/theme.ts
Due: eslint --fix, prettier --single-quote --write

Updated profile photo
  public/images/profile.jpg
Due: none

Set h1 and h2 global styles
  src/pages/posts/[id].tsx
  src/styles/components/Layout.ts
  src/styles/global.ts
  src/styles/pages/Article.ts
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Changed eager loading to priority for Image
  src/components/Layout.tsx
Due: eslint --fix, prettier --single-quote --write

Updated theme colors for better accessibility
  src/styles/theme.ts
Due: eslint --fix, prettier --single-quote --write

Added Separator and ShortBio to blog layout
  src/components/Layout.tsx
  src/styles/components/Layout.ts
Due: eslint --fix, prettier --single-quote --write

Changed introduction text
  src/pages/index.tsx
Due: eslint --fix, prettier --single-quote --write

Justified and indented paragraphs
  src/pages/posts/[id].tsx
  src/styles/components/Layout.ts
  src/styles/pages/Home.ts
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Added link to Massive team page
  src/components/Layout.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --single-quote --write

Removed placeholder posts
  src/posts/pre-rendering.md
  src/posts/ssg-ssr.md
Due: prettier --single-quote --write

Added post about Zsh
  public/blog/how-to-setup-a-terminal-using-zsh/terminal.png
  src/posts/how-to-setup-a-terminal-using-zsh.md
Due: prettier --single-quote --write

Fixed styles for posts
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Fixed CSS selector for styling code markdown
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Created basic ToggleSwitch
  src/components/ToggleSwitch.tsx
  src/styles/components/ToggleSwitch.ts
Due: eslint --fix, prettier --single-quote --write

Added props and background to ToggleSwitch
  src/components/ToggleSwitch.tsx
  src/styles/components/ToggleSwitch.ts
Due: eslint --fix, prettier --single-quote --write

Improved accessibility to ToggleSwitch
  src/components/ToggleSwitch.tsx
Due: eslint --fix, prettier --single-quote --write

Added colors to theme provider
  src/styles/components/Date.ts
  src/styles/components/Layout.ts
  src/styles/components/ToggleSwitch.ts
  src/styles/global.ts
  src/styles/pages/Post.ts
  src/styles/theme.ts
Due: eslint --fix, prettier --single-quote --write

Updated ToggleSwitch styles
  src/styles/components/ToggleSwitch.ts
Due: eslint --fix, prettier --single-quote --write

Added ToggleSwitch to Layout
  src/components/Layout.tsx
  src/styles/components/Layout.ts
Due: eslint --fix, prettier --single-quote --write

Renamed Switch component and props
  src/components/Layout.tsx
  src/components/Switch.tsx
  src/components/ToggleSwitch.tsx
  src/lib/posts.ts
  src/styles/components/Switch.ts
Due: eslint --fix, prettier --single-quote --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --single-quote --write: any of: *.{ts,tsx,css,md}
