Repository brenobaptista/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --single-quote --write

Changed theme structures to include dark theme
  src/pages/_app.tsx
  src/styles/styled.d.ts
  src/styles/themes/dark.ts
  src/styles/themes/light.ts
  testUtils.tsx
Due: eslint --fix, prettier --single-quote --write

Added theme-context using Context API
  src/context/theme-context.tsx
Due: eslint --fix, prettier --single-quote --write

Consumed theme-context
  src/components/Layout.tsx
  src/pages/_app.tsx
Due: eslint --fix, prettier --single-quote --write

Migrated theme-context to _app
  src/components/Layout.tsx
  src/context/theme-context.tsx
  src/pages/_app.tsx
Due: eslint --fix, prettier --single-quote --write

Updated dark theme colors
  src/styles/global.ts
  src/styles/themes/dark.ts
Due: eslint --fix, prettier --single-quote --write

Added persistency to theming
  .eslintrc.json
  src/components/Layout.tsx
  src/pages/_app.tsx
  src/utils/usePersistedState.ts
Due: eslint --fix, prettier --single-quote --write

Moved lib/posts to utils/posts
  src/pages/index.tsx
  src/pages/posts/[id].tsx
  src/utils/posts.ts
Due: eslint --fix, prettier --single-quote --write

Removed transition time to change colors
  src/styles/global.ts
Due: eslint --fix, prettier --single-quote --write

Changed default to dark mode and added transition timing back
  src/pages/_app.tsx
  src/styles/global.ts
Due: eslint --fix, prettier --single-quote --write

Removed const name from Layout
  src/components/Layout.tsx
Due: eslint --fix, prettier --single-quote --write

Updated metas on Head
  src/components/Layout.tsx
Due: eslint --fix, prettier --single-quote --write

Changed Switch default to true
  src/components/Layout.tsx
Due: eslint --fix, prettier --single-quote --write

Updated README
  README.md
Due: prettier --single-quote --write

Updated favicon
  public/favicon.ico
Due: none

Added jest-styled-components
  package.json
  yarn.lock
Due: none

Imported jest-styled-components in Jest setup file
  jest.setup.ts
Due: eslint --fix, prettier --single-quote --write

Updated snapshot with jest-styled-components
  __tests__/__snapshots__/date.tsx.snap
Due: none

Used Husky to test components before git pushing
  .huskyrc.json
Due: none

Added description to posts and made a card for blog posts
  src/pages/index.tsx
  src/pages/posts/[id].tsx
  src/posts/how-to-setup-a-terminal-using-zsh.md
  src/styles/components/Date.ts
  src/styles/pages/Home.ts
  src/utils/posts.ts
Due: eslint --fix, prettier --single-quote --write

Removed ul and li tags from blog posts
  src/pages/index.tsx
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Improved SEO and Accessibility
  src/posts/how-to-setup-a-terminal-using-zsh.md
  src/styles/components/Layout.ts
  src/styles/pages/Home.ts
  src/styles/pages/Post.ts
  src/styles/styled.d.ts
  src/styles/themes/dark.ts
  src/styles/themes/light.ts
Due: eslint --fix, prettier --single-quote --write

Updated snapshot
  __tests__/__snapshots__/date.tsx.snap
Due: none

Removed card wrapper from blog posts
  src/pages/index.tsx
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Added social icons
  public/images/icons/envelope-square.svg
  public/images/icons/github.svg
Due: none

Integrated social icons in homepage
  src/components/Layout.tsx
  src/styles/components/Layout.ts
Due: eslint --fix, prettier --single-quote --write

Installed babel-plugin-styled-components
  package.json
  yarn.lock
Due: none

Transformed SVG into JS using react-svgr playground
  public/images/icons/envelope-square.svg
  public/images/icons/github.svg
  src/components/Layout.tsx
  src/components/icons/Email.tsx
  src/components/icons/GitHub.tsx
  src/styles/components/Layout.ts
Due: eslint --fix, prettier --single-quote --write

Decided to use primary color in Switch for light mode
  src/components/Switch.tsx
  src/styles/components/Switch.ts
Due: eslint --fix, prettier --single-quote --write

Fixed accessibility for keyboard-only users
  src/pages/index.tsx
  src/styles/components/Layout.ts
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Fixed FOUC for Brave browser
  src/styles/global.ts
Due: eslint --fix, prettier --single-quote --write

Bug fix - first visit Switch is off for dark mode
  src/components/Layout.tsx
Due: eslint --fix, prettier --single-quote --write

Removed custom fonts from headings
  src/styles/global.ts
Due: eslint --fix, prettier --single-quote --write

Improved general styles
  src/styles/components/Layout.ts
  src/styles/global.ts
  src/styles/pages/Home.ts
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Added and configured Prism.js
  .babelrc
  package.json
  src/pages/posts/[id].tsx
  yarn.lock
Due: eslint --fix, prettier --single-quote --write

Added new post about SVGs in React
  src/posts/how-to-setup-a-terminal-using-zsh.md
  src/posts/the-best-way-to-work-with-svgs-in-react.md
Due: prettier --single-quote --write

Improved text selection colors
  src/styles/global.ts
Due: eslint --fix, prettier --single-quote --write

Fixed indent conflict between Prettier and ESLint
  .eslintrc.json
Due: none

Fixed fenced code block for light mode
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Workaround for text selection on light mode for fenced code blocks
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --single-quote --write: any of: *.{ts,tsx,md}
