Repository brenobaptista/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --single-quote --write

Implemented basic version of RSS feed
  src/lib/rss.ts
  src/pages/_document.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --single-quote --write

Added RSS icon to social icons
  src/components/icons/RSS.tsx
  src/pages/index.tsx
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Fixed grammar mistakes
  src/posts/creating-virtual-machines-using-qemu-kvm.md
Due: prettier --single-quote --write

Fixed post image routes
  src/posts/customizing-terminal-with-zsh.md
  src/posts/editing-images-from-terminal-with-imagemagick.md
Due: prettier --single-quote --write

Removed next/image implementation
  public/images/profile-128.jpg
  public/images/profile-80.jpg
  public/images/profile.jpg
  src/pages/index.tsx
  src/pages/posts/[id].tsx
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Fixed accessibility issue
  src/posts/creating-virtual-machines-using-qemu-kvm.md
Due: prettier --single-quote --write

Removed reference in zsh post and moved screenshot to top
  src/posts/customizing-terminal-with-zsh.md
Due: prettier --single-quote --write

Changed screenshot for zsh post
  public/blog/customizing-terminal-with-zsh/terminal.png
Due: none

New blog post about dynamic sitemaps in Next.js
  src/posts/generating-sitemap-robots-in-next.md
Due: prettier --single-quote --write

Removed .js from .eslintignore
  .eslintignore
Due: none

Revert "Removed .js from .eslintignore"
  .eslintignore
Due: none

Migrated Husky from v4 to v6
  .husky/.gitignore
  .husky/pre-commit
  .husky/pre-push
  .huskyrc.json
  package.json
  yarn.lock
Due: none

Major updates
  .eslintrc.json
  package.json
  yarn.lock
Due: none

Minor updates
  package.json
  yarn.lock
Due: none

Patch updates
  package.json
  yarn.lock
Due: none

Removed duplicate meta charset
  src/pages/_document.tsx
Due: eslint --fix, prettier --single-quote --write

Moved metadata to _document
  src/components/Layout.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --single-quote --write

Fixed typo
  src/posts/generating-sitemap-robots-in-next.md
Due: prettier --single-quote --write

Added Google Search Console metatag
  src/pages/_document.tsx
Due: eslint --fix, prettier --single-quote --write

Updated pages description
  src/pages/_document.tsx
  src/pages/index.tsx
  src/pages/posts/[id].tsx
Due: eslint --fix, prettier --single-quote --write

Used HD photo for profile
  public/images/profile-128.jpg
  public/images/profile-256.jpg
  src/pages/index.tsx
Due: eslint --fix, prettier --single-quote --write

Added blog post about generating a RSS feed
  src/posts/adding-rss-feed-to-static-next-blog.md
Due: prettier --single-quote --write

Renamed icons folder to svgs
  src/components/svgs/Email.tsx
  src/components/svgs/GitHub.tsx
  src/components/svgs/RSS.tsx
Due: eslint --fix, prettier --single-quote --write

Added Profile svg
  src/components/svgs/Profile.tsx
Due: eslint --fix, prettier --single-quote --write

Updated test paths
  __tests__/email.tsx
  __tests__/github.tsx
Due: eslint --fix, prettier --single-quote --write

Removed profile pngs
  public/images/profile-256.jpg
  public/images/profile-80.jpg
Due: none

Updated Home
  src/pages/index.tsx
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Updated Post
  src/pages/posts/[id].tsx
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Better styles for BackToHome
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Added Search icon
  src/components/svgs/Search.tsx
Due: eslint --fix, prettier --single-quote --write

Implemented search functionality
  src/pages/index.tsx
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Changed profile background
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Added blog post about sed
  src/posts/shell-scripting-using-sed.md
Due: prettier --single-quote --write

Updated SVG post
  src/posts/working-with-svgs-in-react-using-svgr.md
Due: prettier --single-quote --write

Fixed typo
  src/posts/working-with-svgs-in-react-using-svgr.md
Due: prettier --single-quote --write

Added docs to svg post
  src/posts/working-with-svgs-in-react-using-svgr.md
Due: prettier --single-quote --write

Refactored theming logic
  src/components/Layout.tsx
  src/components/Theme.tsx
Due: eslint --fix, prettier --single-quote --write

Changed styles
  src/styles/components/Switch.ts
  src/styles/global.ts
Due: eslint --fix, prettier --single-quote --write

Updated tests and snapshots
  __tests__/__snapshots__/layout.tsx.snap
  __tests__/__snapshots__/switch.tsx.snap
  __tests__/layout.tsx
Due: eslint --fix, prettier --single-quote --write

Fixed bug on Theme
  src/components/Theme.tsx
Due: eslint --fix, prettier --single-quote --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --single-quote --write: any of: *.{ts,tsx,md}
