Repository brenobaptista/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --single-quote --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": "eslint --fix",
  "*.{ts,tsx,md}": "prettier --single-quote --write"
}

Replaced light and dark modes to retro and dracula
  README.md
  __tests__/__snapshots__/layout.tsx.snap
  __tests__/layout.tsx
  __tests__/switch.tsx
  src/components/Switch.tsx
  src/components/Theme.tsx
  src/styles/pages/Post.ts
  src/styles/themes/dracula.ts
  src/styles/themes/retro.ts
  testUtils.tsx
Due: eslint --fix, prettier --single-quote --write

Updated post colors for retro theme
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Updated Layout to fit retro theme
  src/styles/components/Layout.ts
Due: eslint --fix, prettier --single-quote --write

Improved input for retro theme
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Added border to post components on retro theme
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Updated colors for retro theme
  src/styles/themes/retro.ts
Due: eslint --fix, prettier --single-quote --write

Added gif background to retro theme
  public/static/retro/space.gif
  src/styles/global.ts
Due: eslint --fix, prettier --single-quote --write

Moved retro folder
  public/static/images/retro/space.gif
  src/styles/global.ts
Due: eslint --fix, prettier --single-quote --write

Separated Search as its own component
  .eslintrc.json
  __tests__/__snapshots__/date.tsx.snap
  __tests__/__snapshots__/layout.tsx.snap
  __tests__/__snapshots__/magnifier.tsx.snap
  __tests__/magnifier.tsx
  __tests__/search.tsx
  src/components/Search.tsx
  src/components/svgs/Magnifier.tsx
  src/pages/index.tsx
  src/styles/components/Search.ts
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Added retro section
  public/static/images/retro/anarchy.gif
  public/static/images/retro/best-viewed.gif
  public/static/images/retro/bookmark.gif
  public/static/images/retro/construction.gif
  public/static/images/retro/construction2.gif
  public/static/images/retro/free-speech.gif
  public/static/images/retro/geocities.gif
  public/static/images/retro/guestbook.gif
  public/static/images/retro/man-jackhammer.gif
  public/static/images/retro/nuke-ie.gif
  public/static/images/retro/penguin.gif
  public/static/images/retro/privacy.gif
  public/static/images/retro/viewed-eyes.gif
  public/static/images/retro/wiby.gif
  public/static/images/retro/worldwideweb.gif
  src/components/Retro.tsx
  src/pages/index.tsx
  src/styles/components/Retro.ts
Due: eslint --fix, prettier --single-quote --write

Changed font for retro theme
  src/styles/components/Layout.ts
  src/styles/components/Search.ts
  src/styles/global.ts
Due: eslint --fix, prettier --single-quote --write

Added custom cursor to retro theme
  __tests__/__snapshots__/layout.tsx.snap
  public/static/images/retro/cursor/default.cur
  public/static/images/retro/cursor/pointer.cur
  public/static/images/retro/cursor/text.cur
  src/pages/donations.tsx
  src/styles/components/Search.ts
  src/styles/components/Switch.ts
  src/styles/global.ts
  src/styles/pages/Donations.ts
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Moved badges
  public/static/images/retro/badges/anarchy.gif
  public/static/images/retro/badges/best-viewed.gif
  public/static/images/retro/badges/bookmark.gif
  public/static/images/retro/badges/free-speech.gif
  public/static/images/retro/badges/geocities.gif
  public/static/images/retro/badges/guestbook.gif
  public/static/images/retro/badges/nuke-ie.gif
  public/static/images/retro/badges/penguin.gif
  public/static/images/retro/badges/privacy.gif
  public/static/images/retro/badges/viewed-eyes.gif
  public/static/images/retro/badges/wiby.gif
  src/components/Retro.tsx
Due: eslint --fix, prettier --single-quote --write

Updated global styles
  src/styles/global.ts
Due: eslint --fix, prettier --single-quote --write

Added post about preact in Next.js
  src/posts/replacing-react-with-preact-in-next.md
Due: prettier --single-quote --write

Fixed SSR issue
  src/components/Theme.tsx
Due: eslint --fix, prettier --single-quote --write

Updated all dependencies but Jest
  next-env.d.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --single-quote --write

Installed some remark plugins
  package.json
  yarn.lock
Due: none

Added remark plugins
  src/lib/posts.ts
Due: eslint --fix, prettier --single-quote --write

Added table of contents to old posts
  src/posts/creating-virtual-machines-using-qemu-kvm.md
  src/posts/customizing-terminal-with-zsh.md
  src/posts/editing-images-from-terminal-with-imagemagick.md
  src/posts/passing-data-through-react-context-api.md
Due: prettier --single-quote --write

Updated styles for table of contents
  src/styles/global.ts
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Installed eslint-config-next
  package.json
  yarn.lock
Due: none

Extended eslintrc
  .eslintrc.json
Due: none

Fixed ESLint warnings
  src/components/Footer.tsx
  src/components/Search.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --single-quote --write

Changed description
  src/lib/rss.ts
  src/pages/index.tsx
  src/pages/posts/[id].tsx
  src/posts/adding-rss-feed-to-static-next-blog.md
Due: eslint --fix, prettier --single-quote --write

Add emojis to dracula theme only
  src/pages/404.tsx
  src/pages/donations.tsx
  src/posts/adding-rss-feed-to-static-next-blog.md
  src/posts/creating-virtual-machines-using-qemu-kvm.md
  src/posts/customizing-terminal-with-zsh.md
  src/posts/editing-images-from-terminal-with-imagemagick.md
  src/posts/generating-sitemap-robots-in-next.md
  src/posts/passing-data-through-react-context-api.md
  src/posts/replacing-react-with-preact-in-next.md
  src/posts/shell-scripting-using-sed.md
  src/posts/working-with-svgs-in-react-using-svgr.md
  src/styles/global.ts
Due: eslint --fix, prettier --single-quote --write

Updated Next configs
  next.config.js
  vercel.json
Due: none

Removed unnecessary comments
  next.config.js
  src/lib/posts.ts
  src/lib/sitemap.ts
Due: eslint --fix, prettier --single-quote --write

Fixed Referrer-Policy warning
  next.config.js
Due: none

Fixed floating icon for search on mobile
  src/styles/components/Search.ts
Due: eslint --fix, prettier --single-quote --write

Updated emojis
  src/pages/donations.tsx
  src/posts/editing-images-from-terminal-with-imagemagick.md
  src/posts/passing-data-through-react-context-api.md
  src/posts/working-with-svgs-in-react-using-svgr.md
Due: eslint --fix, prettier --single-quote --write

Added hover to social icons
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Added post about async javascript
  src/posts/using-asynchronous-functions-javascript.md
Due: prettier --single-quote --write

Fixed date align
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Added sparkles mouse effect to retro mode
  .eslintrc.json
  src/components/Layout.tsx
  src/components/Sparkles.tsx
Due: eslint --fix, prettier --single-quote --write

Improved Sparkles
  src/components/Sparkles.tsx
Due: eslint --fix, prettier --single-quote --write

Removed sparkles after changing theme
  src/components/Sparkles.tsx
Due: eslint --fix, prettier --single-quote --write

Removed unused CSS
  src/styles/components/Search.ts
Due: eslint --fix, prettier --single-quote --write
