Repository brenobaptista/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --single-quote --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": "eslint --fix",
  "*.{ts,tsx,md}": "prettier --single-quote --write"
}

Added post about CSS variables
  public/static/images/reusing-entities-with-css-variables/root-variables.png
  src/posts/reusing-entities-with-css-variables.md
Due: prettier --single-quote --write

Removed useless condition
  src/components/Theme.tsx
Due: eslint --fix, prettier --single-quote --write

Renamed background-color
  src/styles/components/Footer.ts
  src/styles/components/Switch.ts
  src/styles/global.ts
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Removed transition for fill
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Added rainbow colors to marquee
  src/styles/components/Retro.ts
Due: eslint --fix, prettier --single-quote --write

Used rainbow colors on sparkles
  src/components/Sparkles.tsx
Due: eslint --fix, prettier --single-quote --write

Added rainbow shadow to headings
  src/styles/global.ts
Due: eslint --fix, prettier --single-quote --write

Added more badges
  public/static/images/retro/badges/2001.gif
  public/static/images/retro/badges/email.gif
  public/static/images/retro/badges/monitor.gif
  public/static/images/retro/badges/nocodeandrun.gif
  public/static/images/retro/badges/y2k.gif
  src/components/Retro.tsx
Due: eslint --fix, prettier --single-quote --write

Updated margin-bottom for retro headings
  src/styles/global.ts
Due: eslint --fix, prettier --single-quote --write

Added glow animations to portrait
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Updated snapshots
  __tests__/__snapshots__/layout.tsx.snap
Due: none

Updated retro headings
  src/styles/global.ts
Due: eslint --fix, prettier --single-quote --write

Updated Switch transition
  src/styles/components/Switch.ts
Due: eslint --fix, prettier --single-quote --write

Added more effects to portrait
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Changed order of themes
  src/styles/pages/Home.ts
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Moved Badges to Footer and added Copyright
  src/components/Footer.tsx
  src/components/Retro.tsx
  src/styles/components/Footer.ts
  src/styles/components/Retro.ts
Due: eslint --fix, prettier --single-quote --write

Updated GIFs
  public/static/images/retro/construction.gif
  public/static/images/retro/construction2.gif
  public/static/images/retro/hamster.gif
  public/static/images/retro/jackhammer.gif
  public/static/images/retro/money.gif
  src/components/Retro.tsx
Due: eslint --fix, prettier --single-quote --write

Removed Donations from SocialIcons
  src/components/svgs/Monero.tsx
  src/pages/index.tsx
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Add navigation options to retro footer
  src/components/Footer.tsx
  src/styles/components/Footer.ts
Due: eslint --fix, prettier --single-quote --write

Updated text about me
  src/pages/index.tsx
Due: eslint --fix, prettier --single-quote --write

Updated Footer
  src/components/Footer.tsx
  src/styles/components/Footer.ts
  vercel.json
Due: eslint --fix, prettier --single-quote --write

Updated tests and snapshots
  __tests__/__snapshots__/layout.tsx.snap
  __tests__/__snapshots__/monero.tsx.snap
  __tests__/monero.tsx
Due: eslint --fix, prettier --single-quote --write

Added Hotline Webring
  __tests__/__snapshots__/layout.tsx.snap
  src/components/Footer.tsx
  src/styles/components/Footer.ts
Due: eslint --fix, prettier --single-quote --write

Fixed post about async js
  src/posts/using-asynchronous-functions-javascript.md
Due: prettier --single-quote --write

Updated retro border color
  src/styles/components/Search.ts
  src/styles/pages/Post.ts
  src/styles/themes/retro.ts
Due: eslint --fix, prettier --single-quote --write

Added border to retro
  src/styles/components/Layout.ts
Due: eslint --fix, prettier --single-quote --write

Removed unnecessary {' '}
  src/pages/404.tsx
  src/pages/donations.tsx
Due: eslint --fix, prettier --single-quote --write

Fixed quotation marks
  src/pages/index.tsx
  src/posts/using-asynchronous-functions-javascript.md
Due: eslint --fix, prettier --single-quote --write

Improved keyframes
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Added post about development tools
  src/posts/eslint-prettier-husky-lintstaged.md
Due: prettier --single-quote --write

Updated post slug
  src/posts/best-development-tools-javascript-projects.md
Due: prettier --single-quote --write

Added more links to ESLint guide
  src/posts/best-development-tools-javascript-projects.md
Due: prettier --single-quote --write

Fixed pre-commit for Husky
  .husky/pre-commit
Due: none

Improved Sparkles component
  src/components/Sparkles.tsx
Due: eslint --fix, prettier --single-quote --write

Updated README
  README.md
Due: prettier --single-quote --write

Updated favicons and webmanifest
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon.ico
  public/favicon.svg
  public/site.webmanifest
  src/pages/_document.tsx
Due: eslint --fix, prettier --single-quote --write

Updated meta tags
  src/pages/_document.tsx
Due: eslint --fix, prettier --single-quote --write
