Repository brenobaptista/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --single-quote --write

Rollback description color
  src/styles/pages/Home.ts
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Add missing unoptimized prop to gifs
  src/components/RetroFooter.tsx
  src/components/RetroHomeSection.tsx
  src/styles/components/RetroHomeSection.ts
Due: eslint --fix, prettier --single-quote --write

Reduce search and intro sizes
  src/styles/components/Search.ts
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Add unoptimized to freeSpeech gif
  src/components/RetroFooter.tsx
Due: eslint --fix, prettier --single-quote --write

Refactor RetroCursorEffect as a React component
  src/components/RetroCursorEffect.tsx
  src/styles/components/RetroCursorEffect.ts
Due: eslint --fix, prettier --single-quote --write

Fix labeling for SELinux (don't put things in weird places)
  src/posts/battery-charging-threshold-acer-linux.md
Due: prettier --single-quote --write

Bump Next.js version
  package.json
  pnpm-lock.yaml
Due: none

Add disable internal microphone section to post
  src/posts/fixing-headset-microphone-not-working-linux.md
Due: prettier --single-quote --write

Rewrite acer-wmi-battery post
  src/posts/battery-charging-threshold-acer-linux.md
Due: prettier --single-quote --write

Update resume
  src/pages/resume.tsx
Due: eslint --fix, prettier --single-quote --write

Improve post about grayscale
  public/images/detecting-if-color-is-light-or-dark/comparison.jpg
  public/images/detecting-if-color-is-light-or-dark/comparison.png
  src/posts/detecting-if-color-is-light-or-dark.md
Due: prettier --single-quote --write

Rename outbox pattern to transactional outbox
  src/pages/resume.tsx
Due: eslint --fix, prettier --single-quote --write

Update resume
  src/pages/resume.tsx
  src/posts/microservice-email.md
  src/styles/pages/Resume.ts
Due: eslint --fix, prettier --single-quote --write

Update resume
  src/pages/resume.tsx
  src/styles/pages/Resume.ts
Due: eslint --fix, prettier --single-quote --write

Add post about ACID, Saga and Transactional Outbox
  src/posts/acid-saga-transactional-outbox.md
Due: prettier --single-quote --write

Update skills on resume
  src/pages/resume.tsx
Due: eslint --fix, prettier --single-quote --write

Improve post about headset mic not working
  src/posts/fixing-headset-microphone-not-working-linux.md
Due: prettier --single-quote --write

Fix headset mic post description
  src/posts/fixing-headset-microphone-not-working-linux.md
Due: prettier --single-quote --write

Fix quote consistency
  src/posts/discussing-audio-gear-remote-work.md
Due: prettier --single-quote --write

Add post about upstreaming a Linux kernel patch
  src/posts/upstreaming-linux-kernel-patch-fix-headset-mic.md
Due: prettier --single-quote --write

Update description
  src/lib/rss.ts
  src/pages/index.tsx
  src/posts/adding-rss-feed-to-static-next-blog.md
  src/styles/pages/Home.ts
Due: eslint --fix, prettier --single-quote --write

Redo illustrations for microservice-email post
  public/images/model-for-microservices-oriented-email-service/basic-tables.jpg
  public/images/model-for-microservices-oriented-email-service/basic-tables.svg
  public/images/model-for-microservices-oriented-email-service/engine-email.jpg
  public/images/model-for-microservices-oriented-email-service/engine-email.svg
  public/images/model-for-microservices-oriented-email-service/interaction-email-users.jpg
  public/images/model-for-microservices-oriented-email-service/interaction-email-users.svg
  public/images/model-for-microservices-oriented-email-service/model-email.jpg
  public/images/model-for-microservices-oriented-email-service/model-email.svg
  public/images/model-for-microservices-oriented-email-service/project.excalidraw
  src/posts/microservice-email.md
Due: prettier --single-quote --write

Replace "gonna"
  src/posts/passing-data-through-react-context-api.md
Due: prettier --single-quote --write

Improve acer battery post
  src/posts/battery-charging-threshold-acer-linux.md
Due: prettier --single-quote --write

Fix acer battery post
  src/posts/battery-charging-threshold-acer-linux.md
Due: prettier --single-quote --write

Remove packageManager from Corepack
  package.json
  pnpm-lock.yaml
Due: none

Add AI to resume
  src/pages/resume.tsx
  src/styles/pages/Resume.ts
Due: eslint --fix, prettier --single-quote --write

Add second page back to resume
  src/pages/resume.tsx
Due: eslint --fix, prettier --single-quote --write

Add open-source contributions to resume
  src/pages/resume.tsx
Due: eslint --fix, prettier --single-quote --write

Remove ordered list from projects
  src/pages/resume.tsx
Due: eslint --fix, prettier --single-quote --write

Improve post about acer-wmi-battery
  src/posts/battery-charging-threshold-acer-linux.md
Due: prettier --single-quote --write

Add Python MCP to resume
  src/pages/resume.tsx
  src/styles/pages/Resume.ts
Due: eslint --fix, prettier --single-quote --write

Update description for gmail alias post
  src/posts/3-hidden-ways-to-create-instant-gmail-aliases.md
Due: prettier --single-quote --write

Test Cloudflare Insights
  next.config.js
Due: none

Remove is:pr and is:closed from resume links
  src/pages/resume.tsx
Due: eslint --fix, prettier --single-quote --write

Remove email alias from resume
  src/components/Icons/Email.tsx
  src/components/Icons/index.tsx
  src/pages/resume.tsx
  src/posts/marking-up-accessible-svgs.md
Due: eslint --fix, prettier --single-quote --write

Revert "Remove email alias from resume"
  src/components/Icons/Email.tsx
  src/components/Icons/index.tsx
  src/pages/resume.tsx
  src/posts/marking-up-accessible-svgs.md
Due: eslint --fix, prettier --single-quote --write

Update example
  src/posts/marking-up-accessible-svgs.md
Due: prettier --single-quote --write

Remove headers
  next.config.js
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --single-quote --write: any of: *.{ts,tsx,md}
