Repository brenobaptista/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --single-quote --write

Add blog post about email service
  public/images/model-for-microservices-oriented-email-service/basic-tables.jpg
  public/images/model-for-microservices-oriented-email-service/engine-email.jpg
  public/images/model-for-microservices-oriented-email-service/interaction-email-users.jpg
  public/images/model-for-microservices-oriented-email-service/model-email.jpg
  src/posts/model-for-microservices-oriented-email-service.md
Due: prettier --single-quote --write

Small improvements to email service post
  src/posts/model-for-microservices-oriented-email-service.md
Due: prettier --single-quote --write

Add blog post about oauth2 refresh
  src/posts/oauth2-refresh-token-grant-in-apollo-client.md
Due: prettier --single-quote --write

Replace yarn with pnpm
  .husky/pre-commit
  .husky/pre-push
  README.md
  package.json
  pnpm-lock.yaml
  src/posts/best-development-tools-javascript-projects.md
  src/posts/replacing-react-with-preact-in-next.md
  yarn.lock
Due: prettier --single-quote --write

Install @types/jest
  next-env.d.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --single-quote --write

Update post about Zsh
  src/posts/customizing-terminal-with-zsh.md
Due: prettier --single-quote --write

Update post about Pop Shell
  src/posts/improving-pop-shell-workspaces.md
Due: prettier --single-quote --write

Update resume
  src/pages/resume.tsx
  src/styles/pages/Resume.ts
  tests/pages/__snapshots__/resume.test.tsx.snap
Due: eslint --fix, prettier --single-quote --write

Add test:update script
  package.json
Due: none

Rename to Pope's Woods
  src/posts/trip-curitiba-winter-2023.md
Due: prettier --single-quote --write

Update year to 2024
  tests/components/__snapshots__/Layout.test.tsx.snap
Due: none

Update resume
  src/pages/resume.tsx
  tests/pages/__snapshots__/resume.test.tsx.snap
Due: eslint --fix, prettier --single-quote --write

Blog post about battery 80% for Acer
  src/posts/battery-charging-threshold-acer-linux.md
Due: prettier --single-quote --write

Update battery charging post
  src/posts/battery-charging-threshold-acer-linux.md
Due: prettier --single-quote --write

Deploy post about unfreeze GUI
  public/images/rescuing-unresponsive-gui-on-linux/tty4.png
  src/posts/rescuing-unresponsive-gui-on-linux.md
Due: prettier --single-quote --write

Fix typo
  src/posts/rescuing-unresponsive-gui-on-linux.md
Due: prettier --single-quote --write

Add debugging section
  src/posts/battery-charging-threshold-acer-linux.md
Due: prettier --single-quote --write

Add instructions to create startup application
  src/posts/battery-charging-threshold-acer-linux.md
Due: prettier --single-quote --write

Update dates
  src/posts/battery-charging-threshold-acer-linux.md
  src/posts/rescuing-unresponsive-gui-on-linux.md
Due: prettier --single-quote --write

Publish post about Gmail aliases
  src/posts/3-hidden-ways-to-create-instant-gmail-aliases.md
Due: prettier --single-quote --write

Simplify blink animation
  src/styles/components/Retro.ts
Due: eslint --fix, prettier --single-quote --write

Implement animation to grab attention to retro mode
  src/components/ThemeProvider.tsx
  src/components/ThemeSwitcher.tsx
  src/styles/components/ThemeSwitcher.ts
Due: eslint --fix, prettier --single-quote --write

Update ThemeSwitcher color to primary
  src/styles/components/ThemeSwitcher.ts
Due: eslint --fix, prettier --single-quote --write

Update retro visited color to brown
  src/styles/themes/retro.ts
Due: eslint --fix, prettier --single-quote --write

Update snapshots
  tests/components/__snapshots__/Layout.test.tsx.snap
  tests/pages/__snapshots__/404.test.tsx.snap
Due: none

Replace "head" favicon with just "B"
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon.ico
  public/favicon.svg
  public/og-image.png
  src/pages/_document.tsx
Due: eslint --fix, prettier --single-quote --write

Replace "head" svg with profile jpg
  public/images/profile.jpg
  src/components/icons/Portrait.tsx
  src/components/icons/index.tsx
  src/pages/index.tsx
  src/pages/posts/[id].tsx
  src/styles/pages/Home.ts
  src/styles/pages/Post.ts
  tests/components/icons/Portrait.test.tsx
  tests/components/icons/__snapshots__/Portrait.test.tsx.snap
Due: eslint --fix, prettier --single-quote --write

Remove width/height from retro Footer
  public/images/retro/badges/guestbook.gif
  public/images/retro/badges/monitor.gif
  public/images/retro/badges/penguin.gif
  src/components/Footer.tsx
Due: eslint --fix, prettier --single-quote --write

Fix retro images height
  src/components/Retro.tsx
  src/styles/components/Retro.ts
Due: eslint --fix, prettier --single-quote --write

Convert width and height
  src/pages/index.tsx
  src/pages/posts/[id].tsx
Due: eslint --fix, prettier --single-quote --write

Double profile picture resolution
  public/images/profile.jpg
Due: none

Improve quality and priority for profile picture
  src/pages/index.tsx
Due: eslint --fix, prettier --single-quote --write

Update tests
  tests/components/__snapshots__/Layout.test.tsx.snap
  tests/components/__snapshots__/Retro.test.tsx.snap
Due: none

Release post about blurry images in next/image
  public/images/fixing-blurry-images-next/hover.png
  src/posts/fixing-blurry-images-next.md
Due: prettier --single-quote --write

Release post about font rendering on Linux
  src/posts/improving-font-rendering-linux.md
Due: prettier --single-quote --write

Update Zsh blog post
  src/posts/customizing-terminal-with-zsh.md
Due: prettier --single-quote --write

Add post about headset mic fix on Linux
  src/posts/fixing-headset-microphone-not-working-linux.md
Due: prettier --single-quote --write

Make explicit post is about Pop!_OS 22.04
  src/posts/improving-pop-shell-workspaces.md
Due: prettier --single-quote --write

Post about Pop!_OS colors
  public/images/improving-pop-os-22-04-color-consistency/browsers.png
  public/images/improving-pop-os-22-04-color-consistency/pop-os.png
  src/posts/improving-pop-os-22-04-color-consistency.md
Due: prettier --single-quote --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --single-quote --write: any of: *.{ts,tsx,md}
