Repository brenobaptista/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --single-quote --write

Updated snapshot
  __tests__/__snapshots__/layout.tsx.snap
Due: none

Removed hardcoded og:title
  src/pages/_document.tsx
Due: eslint --fix, prettier --single-quote --write

Added custom og:image
  public/og-image.png
  src/pages/_document.tsx
Due: eslint --fix, prettier --single-quote --write

Removed siteTitle
  src/pages/_document.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --single-quote --write

Fixed og:image
  src/pages/_document.tsx
Due: eslint --fix, prettier --single-quote --write

Added new scripts
  package.json
Due: none

Upgraded dependencies except jest, globby and remark
  next-env.d.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --single-quote --write

Update Jest and fixed issues
  jest.config.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --single-quote --write

Skipped setting theme on first render
  src/components/Theme.tsx
Due: eslint --fix, prettier --single-quote --write

Added table of contents to latest post
  src/posts/best-development-tools-javascript-projects.md
Due: prettier --single-quote --write

Updated theme_color
  public/site.webmanifest
  src/pages/_document.tsx
Due: eslint --fix, prettier --single-quote --write

Added post about favicons
  src/posts/understanding-favicons-for-the-modern-web.md
Due: prettier --single-quote --write

Added types to useState, event and useContext
  src/components/Search.tsx
  src/components/Sparkles.tsx
  src/contexts/ThemeContext.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --single-quote --write

Added tags <abbr> and <dfn> to posts
  src/posts/adding-rss-feed-to-static-next-blog.md
  src/posts/best-development-tools-javascript-projects.md
  src/posts/creating-virtual-machines-using-qemu-kvm.md
  src/posts/customizing-terminal-with-zsh.md
  src/posts/editing-images-from-terminal-with-imagemagick.md
  src/posts/generating-sitemap-robots-in-next.md
  src/posts/passing-data-through-react-context-api.md
  src/posts/reusing-entities-with-css-variables.md
  src/posts/shell-scripting-using-sed.md
  src/posts/understanding-favicons-for-the-modern-web.md
  src/posts/working-with-svgs-in-react-using-svgr.md
Due: prettier --single-quote --write

Used multiple of 8 for spacing
  src/styles/components/Retro.ts
  src/styles/components/Switch.ts
  src/styles/pages/Home.ts
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Updated snapshots
  __tests__/__snapshots__/layout.tsx.snap
Due: none

Updated contact email
  __tests__/__snapshots__/layout.tsx.snap
  src/components/Footer.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --single-quote --write

Updated resume link
  vercel.json
Due: none

Fixed issue with command-line prompt code
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Removed emojis
  src/pages/404.tsx
  src/pages/donations.tsx
  src/posts/adding-rss-feed-to-static-next-blog.md
  src/posts/best-development-tools-javascript-projects.md
  src/posts/creating-virtual-machines-using-qemu-kvm.md
  src/posts/customizing-terminal-with-zsh.md
  src/posts/editing-images-from-terminal-with-imagemagick.md
  src/posts/generating-sitemap-robots-in-next.md
  src/posts/passing-data-through-react-context-api.md
  src/posts/replacing-react-with-preact-in-next.md
  src/posts/reusing-entities-with-css-variables.md
  src/posts/shell-scripting-using-sed.md
  src/posts/understanding-favicons-for-the-modern-web.md
  src/posts/using-asynchronous-functions-javascript.md
  src/posts/working-with-svgs-in-react-using-svgr.md
  src/styles/global.ts
Due: eslint --fix, prettier --single-quote --write

Added help cursor to abbr tag
  src/styles/global.ts
Due: eslint --fix, prettier --single-quote --write

Updated resume url
  vercel.json
Due: none

Updated Zinit instructions
  src/posts/customizing-terminal-with-zsh.md
Due: prettier --single-quote --write

Removed deprecated VSCode instructions
  src/posts/customizing-terminal-with-zsh.md
Due: prettier --single-quote --write

Removed emojis in Yarn (not related to post)
  src/posts/customizing-terminal-with-zsh.md
Due: prettier --single-quote --write

Updated dependencies section
  src/posts/customizing-terminal-with-zsh.md
Due: prettier --single-quote --write

Updated current year in snapshot
  __tests__/__snapshots__/layout.tsx.snap
Due: none

Fixed quote character
  src/posts/working-with-svgs-in-react-using-svgr.md
Due: prettier --single-quote --write

Fixed code outside p tag
  src/styles/pages/Post.ts
Due: eslint --fix, prettier --single-quote --write

Moved instructions above the table of contents
  src/posts/creating-virtual-machines-using-qemu-kvm.md
  src/posts/editing-images-from-terminal-with-imagemagick.md
  src/posts/passing-data-through-react-context-api.md
  src/posts/using-asynchronous-functions-javascript.md
Due: prettier --single-quote --write

Added post about how to structure a Go project
  src/posts/structuring-go-project.md
Due: prettier --single-quote --write

Fixed Switch width to double the height
  __tests__/__snapshots__/layout.tsx.snap
  src/styles/components/Switch.ts
Due: eslint --fix, prettier --single-quote --write

Removed unnecessary aria-labels
  src/components/Search.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --single-quote --write

Moved aria-label from icons to anchor links
  __tests__/__snapshots__/email.tsx.snap
  __tests__/__snapshots__/github.tsx.snap
  __tests__/__snapshots__/rss.tsx.snap
  src/components/svgs/Email.tsx
  src/components/svgs/GitHub.tsx
  src/components/svgs/RSS.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --single-quote --write

Added abbr to QEMU
  src/posts/creating-virtual-machines-using-qemu-kvm.md
Due: prettier --single-quote --write

Removed "homework" from posts
  src/posts/editing-images-from-terminal-with-imagemagick.md
  src/posts/using-asynchronous-functions-javascript.md
Due: prettier --single-quote --write

Added aria-hidden to decorative SVGs
  __tests__/__snapshots__/magnifier.tsx.snap
  __tests__/__snapshots__/profile.tsx.snap
  src/components/Search.tsx
  src/components/svgs/Magnifier.tsx
  src/components/svgs/Portrait.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --single-quote --write

Removed accessible SVGs section
  src/posts/working-with-svgs-in-react-using-svgr.md
Due: prettier --single-quote --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --single-quote --write: any of: *.{ts,tsx,md}
